.Navbar {
  display: flex;
  justify-content: space-between;
  background-color: #bdbdbd;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
}

.main-container .search-container {
  display: flex;
  flex-direction: column;
}

.main-container #input-container {
  background-color: #f0f0f0;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
